@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .bebas {
    font-family: "Bebas Neue", sans-serif;
  }
  .roboto {
    font-family: "Roboto", sans-serif;
  }
  body {
    @apply roboto;
  }
  h1,
  .title-1 {
    @apply bebas text-7xl uppercase;
  }
  h2,
  .title-2 {
    @apply bebas text-6xl uppercase;
  }
  h3,
  .title-3 {
    @apply bebas text-5xl uppercase;
  }
  h4,
  .title-4 {
    @apply bebas text-4xl uppercase;
  }
  h5,
  .title-5 {
    @apply bebas text-3xl uppercase;
  }
  h6,
  .title-6 {
    @apply bebas text-2xl uppercase;
  }
  .xl-bold {
    @apply text-xl font-bold text-center;
  }
}

/* HEADER -->  */
header {
  background-image: url("../assets/header-background.jpeg");
  background-position: 0px -100px;
}
.social_icon_link {
  @apply flex items-center duration-300;
}
.social_icon_link:hover {
  @apply text-custom-red;
}
.header_nav {
  @apply max-w-screen-xl m-auto flex flex-row transform shadow-lg;
  transform: translateY(calc(-100% + 1px));
}
.header_nav_link {
  @apply bg-custom-white duration-300 flex-1 text-center p-4 font-bold;
}
.header_nav_link:hover {
  @apply bg-custom-lightgray text-custom-red;
}
.header_nav_link.active {
  @apply bg-custom-lightgray text-custom-red;
}
.nav_mobile .active {
  @apply text-custom-red;
}
/*  <-- HEADER */

/* FOOTER -->  */
.footer_social_icon_link {
  @apply mr-8 flex items-center duration-300;
}
/*  <-- FOOTER */

/* COMPONENTS -->  */

/* bouton blanc / hover:rouge */
.btn_white_red {
  @apply text-custom-dark bg-custom-lightgray rounded-full  duration-300;
}
.btn_white_red:hover {
  @apply text-custom-lightgray bg-custom-red cursor-pointer;
}
.btn_white_red > svg {
  @apply text-custom-red pl-2 duration-300;
}
.btn_white_red:hover > svg {
  @apply text-custom-white;
}

/* bouton rouge / hover:blanc */
.btn_red_white {
  @apply text-custom-lightgray bg-custom-red rounded-full  duration-300;
}
.btn_red_white:hover {
  @apply text-custom-red bg-custom-lightgray cursor-pointer;
}
.btn_red_white > svg {
  @apply text-custom-lightgray pl-2 duration-300;
}
.btn_red_white:hover > svg {
  @apply text-custom-red;
}

/* bouton menu bars */
.btn_bars.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}
.btn_bars.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}
.btn_bars.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.btn_bars.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.btn_bars.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.btn_bars.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 11px;
    transform: rotate(0);
  }
  100% {
    top: 11px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 11px;
    transform: rotate(45deg);
  }
  50% {
    top: 11px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 11px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 11px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 11px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*  <-- COMPONENTS */

/* ACCUEIL --> */
.accueil_image_festival_2021 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-image: url("../assets/accueil/festival.jpeg");
}
/*  <-- ACCUEIL */

/* PROGRAMME --> */
.programme_blockday {
  @apply grid sm:grid-cols-2 md:grid-cols-3 gap-x-8 grid-cols-1;
}
.programme_blockhours {
  @apply flex flex-col mb-8 sm:mb-8 md:mb-0;
}
/* <-- PROGRAMME */

/* RÉSERVER --> */
input[type="radio"] {
  display: none;
}
input[type="radio"] ~ label {
  cursor: pointer;
}
input[type="radio"]:checked + label {
  @apply bg-custom-red text-custom-white;
}
.reserver_radio_group {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 mb-8;
}
.reserver_label {
  @apply bg-custom-white text-custom-red font-bold rounded py-2 px-8;
}
.reserver_input {
  @apply py-1 px-2 rounded;
}
/* <-- RÉSERVER */
